<!-- 
  Farkas Csaba
Szoft II/N
2022-11-25
-->


<div class="container"> 
  <h1>Feladat 0354</h1>
  <h2>telteg</h2>
  <div class="gyepForm">
    <div class="mb-3">
      <label for="" class="form-label">A oldal</label>
      <input type="text" class="form-control" [(ngModel)]="Aside">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">B oldal</label>
      <input type="text" class="form-control" [(ngModel)]="Bside">
    </div>
    <button class="btn btn-info" (click)="calcArea()">Számit</button>
    <div class="mb-3">
      <label for="result" >Terület</label>
      <input type="text" class="form-control" [(ngModel)]="price">
    </div>

  </div>
  <div class="bg-success">
    Farkas Csaba,Szoft II/N,2022-11-25
  </div>
</div>